<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bookBean" class="springlistinjection.model.Book">
		<constructor-arg name="chapters" type="java.util.List">
			<list value-type="java.lang.String">
				<value>chapter1</value>
				<value>chapter2</value>
				<value>chapter3</value>
				<value>chapter4</value>				
			</list>
		</constructor-arg>
	</bean>
</beans>
